
#Nav{
    height: 50px;
    background-color: violet;
}
.container-fluid{
    height: 120px;
}

/*Lateral Izquierdo*/
#curriculum{
    margin-top: 100px;
    border: 1px solid black;
    box-shadow: 4px 4px 4px #ababab;
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
}
#foto_perfil{
    text-align: center;
    margin: 30px;
}
img {
    border: 2px solid grey ;
    box-shadow: 5px 5px 5px #ababab;
    width: 80%;
    background-size: cover;
    border-radius: 50%;
    
}
#contacto{
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.lista_info{
    
    list-style: none;
    margin-bottom: 50PX ;

}
.titulo1{
    font-weight:bolder;
    border-bottom: 1px solid black; 
    
}
.lista_habilidades li{
    margin-left: 15px;
}

/*#hoja_curriculum{
    background-color: brown;
    height: 1000px;
}*/
#lateral_izquierdo{
    background-color:rgb(238, 234, 188);
    box-shadow: 4px 4px 4px #ababab;
}
#lateral_dercho{
    width: 200px;
    /*height: 1000px;*/
    background-color: black;
}

/* Lateral Derecho*/
#Nombre{
    
    text-align: center;
}
#nombre{
    /*background-color: aqua;*/
    font-family: 'Lato', sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    margin-top: 40px;
    font-size: 70px;
}
#profesion{
    font-size: 35px;
}
.experiencia .row{
margin-top: 30px;
}
.experiencia h6{
    margin-top: 30px;
    }
.columna_experiencia{
    border-left: 1px solid black;
    
}

.row .col p{
    text-align: right;
}
.columna_educacion{
    border-left: 1px solid black;
    
}
.titulo{
    font-weight: bold;
    border-bottom: 1px solid black;
    margin: 30px;
    
}
#conctato_js{
    color: blue;
    font-weight: bolder;
}
i {
    transition: transform .2s; 
}
i:hover{
    text-transform: scale(2.5);
    color:red;
    transition:color .5s;
    transform: scale(1.5)
    
}
a{
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
    
}
